build
kernel
nbproject
dist
build.xml
mi-dzo_lena_line10.jpg
mi-dzo_lena_line10_ddd.jpg
lena512_blured.jpg
lena512_deblured.jpg
manifest.mf
mi-dzo_lena.jpg
mi-dzo_lena_fft.jpg
mi-dzo_lena_line10_deblur.jpg
mi-dzo_lena_line10_fft.jpg
mi-dzo_lena_line10_fft2.jpg
mi-dzo_lena_line10_fft2_divide.jpg
mi-dzo_lena_line10_fft11.jpg
mi-dzo_lena_line10_ddd2.jpg
